<div class="col-md-4 px-0 aaa">
  <%= f.number_field :hole_number, placeholder: "ホールナンバー", class: "form-control" %>
</div>
<div class="col-md-4 px-0 aaa">
  <%= f.number_field :number_of_pars, placeholder: "パー数", class: "form-control" %>
</div>

<style>
.aaa {
  display: inline-block;
}
</style>