<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>PerPlaySimulationにご登録のクレジットカード有効期限に関するご案内</h3>
    <p>
      <%= @user.name %>様、いつもPerPlaySimulationをご愛顧き誠にありがとうございます。
      ご登録のクレジットカードの有効期限が間近となっております。<br>
      ご利用継続の場合はクレジットカード情報の更新をお願いいたします。<br>
      引き続き変らぬご愛顧のほどお願い申し上げます。
    </p>
    <p>
      PerPlaySimulationにログインするには、<%= @url %>をクリックしてください。
    </p>
    <p>
      PerPlaySimulation事務局
    </p>
  </body>
</html>