<div id="container" class="container" data-turbolinks='false'>
  <%# newかeditかでrennder分け %>
  <% if @ログインユーザーの攻略情報のカラム.blank? %>
    <%# new %>
    <% render, "#" %>
  <% else %>
    <%# edit %>
    <% render, "#" %>
  <% end %>
  
  
  <%# 管理者の場合はゴルフクラブ一覧に戻るボタンも表示 %>

  <%# ---------------- %>
  <div class="to_index">
    <%= link_to "攻略情報ページへ", golfclub_strategy_infos_path, class:"btn btn-primary"%>
  </div>

</div>
