<div class="strategy_main_center_photo">
  <%= image_tag strategy_info.photo.variant(resize:'751x500'), class: "img-fluid" %>
</div>
<div class="strategy_main_center_comment">
  <h6 class=""><%= strategy_info.comment %></h6>
</div>
