<div class="strategy_main_center_photo">
  <%= image_tag strategy_info.photo.variant(resize:'751x500'), class: "img-fluid", style: "max-width: 80%;" %>
</div>
<div class="strategy_main_center_comment">
  <%= strategy_info.comment %>
</div>
