<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">有料会員の登録方法と料金について</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <b>会員登録方法</b><br>
      <a>ログイン後、ヘッダーのニックネームのドロップダウンリストの会員登録にて、クレジットカードを登録するボタンからクレジットカードの登録画面に遷移して、クレジットカード情報をご登録いただけると会員登録ができます。</a><br>
      <br>

      <b>会員様の料金について</b><br>
      <a>クレジットカードをご登録していただいた日から月額980円の料金がかかります。</a><br>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>