<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">有料会員の退会方法について</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <a>登録していただいたクレジットカードを削除していただくことで、いつでも退会することが可能です。</a><br>
      <a>支払いカードを全て削除した日に退会扱いとなります。</a><br>
      <a>または、ユーザー情報を削除した日に退会扱いとなります。</a><br>
      <a>入会していただいた日付を経過している場合、その月の会費まで発生しますので、ご注意下さい。</a><br>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>