<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">よくある質問.FAQ</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <a>Q.どの様な場合、退会となりますか？</a><br>
      <a>A.支払いカードを削除すると退会となります。または、ユーザー情報を削除した場合、退会となります。
           退会扱いとなると会員の機能は、使用できなくなります。
           但し、支払いカードを削除した場合にも、他のカードの登録がある場合は、次の支払日までに
           他のカードを支払いカードに設定していただくことで、会員情報を引き継ぐ事が出来ます。
           その際、追加の料金は発生しません。課金の起算日も引き継がれます。
           カード情報を全て削除された場合、または、ユーザー情報を削除された場合は、完全に退会扱いとなるため
           改めて、会員登録する必要があります。改めて会員登録される場合は、その日付を起算日に新たに料金が発生します。
      </a><br>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
