<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">ログイン方法とログインユーザーで利用可能な機能</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <b>＜ログイン方法＞</b><br>
      <a>・ヘッダーのアカウントから新規登録でメールアドレスとパスワードでログインすることができます。</a><br>
      <a>・Googleアカウントをお持ちの方は、Googleログインボタンで、メールアドレスとパスワードを入力することなく、ログインすることができます。</a><br>
      <a>・ログインには料金は不要です。</a><br>
      <br>

      <b>＜ログインユーザーで利用可能な機能＞</b><br>
      <a>・ゲストユーザーの機能に加え、各ゴルフ場に関する料理・施設・周辺情報などの投稿写真とコメントを参照できます。</a><br>
      <a>・また、各ゴルフ場に関する料理・施設・周辺情報などの写真とコメントを投稿できます。</a><br>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>