<div class="container">

  <br>
  <h4>機能紹介</h4>

  <b>＜ログインされていないユーザーで使用可能な機能＞</b><br>
  <a>・ヘッダーのゴルフ場検索からゴルフ場検索画面に移動して、地域毎のゴルフ場を検索することができます。</a><br>
  <a>・検索したゴルフ場のYouTube攻略動画が参照できます。</a><br>
  <a>・検索したゴルフ場のホームページのリンクからゴルフ場のホームページを参照することができます。</a><br>
  <a>・フッターのQRコードよりLINEグループへの友達登録ができます。</a><br>
  <br>

  <b>＜ログインしていただいたユーザーで使用可能な機能＞</b><br>
  <a>・上記に加え、各ゴルフ場に関する料理・施設・周辺情報などの投稿写真とコメントを参照できます。</a><br>
  <a>・また、各ゴルフ場に関する料理・施設・周辺情報などの写真とコメントを投稿できます。</a><br>
  <br>

  <b>＜会員登録していただいたユーザーで使用可能な機能＞</b><br>
  <a>・上記に加え、各ゴルフ場のホール毎の攻略情報を参照することができます。</a><br>
  <a>・また、ご自分の各ゴルフ場のホール毎の攻略情報を登録することができます。</a><br>
  <a>・ご自分のゴルフクラブの情報を登録して、バランスをグラフで参照することもできます。</a><br>
  <br>

  <b>ログイン方法</b><br>
  <a>ヘッダーのアカウントから新規登録でメールアドレスとパスワードでログインすることができます。</a><br>
  <a>Googleアカウントをお持ちの方は、Googleログインボタンで、メールアドレスとパスワードを入力することなく、ログインすることができます。</a><br>
  <br>

  <b>会員登録方法</b><br>
  <a>ログイン後、ヘッダーのニックネームのドロップダウンリストの会員登録にて、クレジットカードを登録するボタンからクレジットカードの登録画面に遷移して、クレジットカード情報をご登録いただけると会員登録ができます。</a><br>
  <br>

  <b>会員様の料金について</b><br>
  <a>クレジットカードをご登録していただいた日から月額980円の料金がかかります。</a><br>
  <br>

  <b>退会について</b><br>
  <a>登録していただいたクレジットカードを削除していただくことで、いつでも退会することが可能です。</a><br>
  <a>クレジットカードを削除した日に退会扱いとなります。</a><br>
  <a>入会した日付を経過している場合、その月の会費まで発生しますので、ご注意下さい。</a><br>
  <br>

</div>