<%= render 'layouts/flash_messages' %>

<div class="toppage-img">

  <!--
  < % if (Date.current.month >= 8) && (Date.current.month <= 9) %>
    <img src="/assets/toppage_summer.png" alt="">
  < % else %>
  -->
    <img src="/assets/toppage_winter.png" alt="">
  <!--
  < % end %>
  -->

</div>
