<%= render 'layouts/flash_messages' %>

<%# <div class="toppage-img text-white box main-container"> %>
<div class="toppage-img">

  <img src="/assets/toppage.png" alt="">
  <div class="main-container text-white">
    <p>パープレイでまわりたいゴルファーのコース攻略シュミレーションサイト</p>
  </div>

</div>
