<div class="container">

  <div>
    <%= link_to '編集画面へ', edit_areas_path, class: "btn btn-primary" %>
  </div>

  <div class="green-box">
    <h1>ゴルフ場一覧</h1>
    <% @areas.each do |district, areas| %>
      <div class="btn-group">
        <button type="button" class="btn btn-lg btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= district %>
        </button>
        <div class="dropdown-menu">
          <% areas.each do |area| %>
            <%= link_to "#{area.prefecture}", area_path(area.id), class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>