<div class="nested-fields">
  <div class="col-md-11 px-0 nested-fields-course">
    <%= f.number_field :hole_number, placeholder: "ホール", required: true, class: "form-control" %>
  </div>

  <div class="col-md-11 px-0 nested-fields-course">
    <%= f.number_field :number_of_pars, placeholder: "パー", class: "form-control" %>
  </div>

  <%# <div class="nested-fields-course"> %>
    <%# <%= link_to_remove_association "×", f, id: "remove-btn", class: "link_to_remove_association" %>
  <%# </div> %>
</div>
