<%= render 'layouts/flash_messages' %>
<div class="container-course">
  <h1>コース登録</h1>

  <%= form_with model: @course, url: golfclub_courses_path, local: true do |course| %>
    <%= render 'form', course: course %>
  <% end %>
<div>
