<div class="modal-dialog modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header", style=border:none>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h4 class="modal-title", style="text-align:center"><strong>カード裏面の番号とは？</strong></h4>
    <div class="modal-body">
      <div  class="col">
        <p>
          セキュリティコードとは、
          クレジットカードの裏面または表面に記載された3桁もしくは4桁の番号のことで、
          カードを所有していない第三者による「なりすまし決済」等の不正利用を防止するためのコードです。
        </p>
      </div>
    </div>
  </div>
</div>