<%= render 'layouts/flash_messages' %>
<div class="container-post">
  <h5><%= @post.title %>の編集</h5>

  <%= form_with model: @post, url: user_post_path(@user, @post), local: true do |post| %>
    <%= render 'form', post: post %>
  <% end %>
</div>
