<%= render 'layouts/flash_messages' %>
<div class="container-post">
  <h4><%= @post.title %>の編集</h4>

  <%= form_with model: @post, url: golfclub_post_path(@golfclub, @post), local: true do |post| %>
    <%= render 'form', post: post %>
  <% end %>
</div>
