<%= render 'layouts/flash_messages' %>
<div class="container-post">
  <h5><%= @golfclub.name %></h5>
  <h5>新規投稿</h5>

  <%= form_with model: @post, url: golfclub_posts_path(@golfclub, @post), local: true do |post| %>
    <%= render 'form', post: post %>
  <% end %>
</div>
