@import "bootstrap";
@import "categories";
@import "golfclubs";
@import "courses";
@import "holes";
@import "posts";
@import "cards";
@import "areas";
@import "strategy_infos";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.alert {
  margin-bottom: 0;
}

// トップ画面
.toppage-img img {
  width: 100%;    /* 横幅を割合で指定 */
  height: auto;  /* 高さは自動指定 */
}

/* トップイメージ */
.main-container {
  background-image: url("/assets/toppage.png");
  height: 800px;
  background-size: cover;
  // background: url("/assets/toppage.png") no-repeat center center;
  // background-size:100% auto;
}

.box {  
  position: relative;
}

.box p {
  position: absolute;
  top: 8%;
  left: 10%;
}

// ログイン画面
 
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

/* 共通 */

.fa-edit {
  color: #224444;
}

.fa-times-circle {
  color: #dc3545;
}

.container {
  margin-top: 10px;
} 

/* ヘッダー */

#header {
 background-color: #224444;
}

.header-logo {
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
}

img {
  vertical-align: middle;
}

.navbar-brand-custom {
  font-family: Georgia !important;
  // font-size: 26px;
  color: white;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* footer */

.footerFixed {
  // min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  min-height: 96vh;
  position: relative;/* ←相対位置 */
  // padding-bottom: 100px; /* ←フッターの高さを指定 */
  // padding-bottom: 30px;
  box-sizing: border-box;
  /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer {
  // position: absolute;/* ←絶対位置 */
  bottom: 0;
  width: 100%;
  padding: 20px; /* ←フッターの高さも指定 */
  
  /* 以下 背景色やテキストカラーなど */
  background: #224444;
  color: #fff;
  text-align: center;
}

 /* footerとコンテンツの重なりを防ぐスペース */
.padding-box {
  // padding-bottom: 260px;
  padding-bottom: 257px;
}

.copy-right {
  font-size: 14px;
  // margin-top: 16px;
  text-align: center;
  line-height: 21px;
}


/* モーダルウインドウの位置調整 */
.modal-dialog-center {
  padding-top: 10%;
}

/* ゴルフクラブ登録モーダルウインドウ */
.btn-club-new{
  margin: 15px 0;
  width: 30%;
}

/*------------------------------------
- COLOR brand
------------------------------------*/

$brand_t1: #224444;
$brand_t2: #112222;
$brand_t3: #58abab;
$brand_t4: #69b4b4;
$brand_t5: #000000;
$brand_t6: #0b1717;
$brand_t7: #162c2c;
$brand_t8: #000000;
$brand_t9: #77bbbb;

$brand_shadow: rgba(34, 68, 68, 0.5);
$brand_text_color_dark_bright: #fff;


.alert-brand {
  color: $brand_t5;
  background-color: $brand_t9;
  border-color: $brand_t4;
}

.alert-brand hr {
  border-top-color: $brand_t3;
}

.alert-brand .alert-link {
  color: $brand_t8;
}

.badge-brand {
  color: $brand_text_color_dark_bright;
  background-color: $brand_t1;
}

.badge-brand[href]:hover, .badge-brand[href]:focus {
  color: $brand_text_color_dark_bright;
  background-color: $brand_t2;
}

.bg-brand {
  background-color: $brand_t1 !important;
}

a.bg-brand:hover, a.bg-brand:focus,
button.bg-brand:hover,
button.bg-brand:focus {
  background-color: $brand_t2 !important;
}

.border-brand {
  border-color: $brand_t1 !important;
}

.btn-brand {
  color: $brand_text_color_dark_bright;
  background-color: $brand_t1;
  border-color: $brand_t1;
}

.btn-brand:hover {
  color: $brand_text_color_dark_bright;
  background-color: $brand_t7;
  border-color: $brand_t2;
}

.btn-brand:focus, .btn-brand.focus {
  box-shadow: 0 0 0 0.2rem $brand_shadow;
}

.btn-brand.disabled, .btn-brand:disabled {
  color: $brand_text_color_dark_bright;
  background-color: $brand_t1;
  border-color: $brand_t1;
}

.btn-brand:not(:disabled):not(.disabled):active, .btn-brand:not(:disabled):not(.disabled).active, .show > .btn-brand.dropdown-toggle {
  color: $brand_text_color_dark_bright;
  background-color: $brand_t2;
  border-color: $brand_t6;
}

.btn-brand:not(:disabled):not(.disabled):active:focus, .btn-brand:not(:disabled):not(.disabled).active:focus, .show > .btn-brand.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $brand_shadow;
}

.btn-outline-brand {
  color: $brand_t1;
  background-color: transparent;
  border-color: $brand_t1;
}

.btn-outline-brand:hover {
  color: $brand_text_color_dark_bright;
  background-color: $brand_t1;
  border-color: $brand_t1;
}

.btn-outline-brand:focus, .btn-outline-brand.focus {
  box-shadow: 0 0 0 0.2rem $brand_shadow;
}

.btn-outline-brand.disabled, .btn-outline-brand:disabled {
  color: $brand_t1;
  background-color: transparent;
}

.btn-outline-brand:not(:disabled):not(.disabled):active, .btn-outline-brand:not(:disabled):not(.disabled).active, .show > .btn-outline-brand.dropdown-toggle {
  color: $brand_text_color_dark_bright;
  background-color: $brand_t1;
  border-color: $brand_t1;
}

.btn-outline-brand:not(:disabled):not(.disabled):active:focus, .btn-outline-brand:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-brand.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $brand_shadow;
}

.list-group-item-brand {
  color: $brand_t5;
  background-color: $brand_t4;
}

.list-group-item-brand.list-group-item-action:hover, .list-group-item-brand.list-group-item-action:focus {
  color: $brand_t5;
  background-color: $brand_t3;
}

.list-group-item-brand.list-group-item-action.active {
  color: $brand_text_color_dark_bright;
  background-color: $brand_t5;
  border-color: $brand_t5;
}

.table-brand,
.table-brand > th,
.table-brand > td {
  background-color: $brand_t4;
}

.table-hover .table-brand:hover {
  background-color: $brand_t3;
}

.table-hover .table-brand:hover > td,
.table-hover .table-brand:hover > th {
  background-color: $brand_t3;
}

.text-brand {
  color: $brand_t1 !important;
}

a.text-brand:hover, a.text-brand:focus {
  color: $brand_t2 !important;
}
