@import "bootstrap";
@import "categories";
@import "golfclubs";
@import "holes";

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// トップ画面
.toppage-img img {
  width: 100%;    /* 横幅を割合で指定 */
  height: auto;  /* 高さは自動指定 */
}

// ログイン画面
 
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

/* 共通 */


/* ヘッダー */

#header {
 background-color: #224444;
}

.header-logo {
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
}

img {
  vertical-align: middle;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}