@import "bootstrap";
@import "categories";

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// ログイン画面
 
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

/* 共通 */

body {
//  padding-top: 80px;
/*  background: linear-gradient(to top right, rgb(166, 233, 233), white); */
//  background-image: url("/check2.png");
}

section {
 overflow: auto;
}

textarea {
 resize: vertical;
}

.center {
 text-align: center;
}

.center h1 {
 margin-bottom: 10px;
}

.label-form {
 margin-top: 5px;
}

.btn-form {
 margin-top: 10px;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
 line-height: 1;
}

h1 {
 font-size: 2em;
 letter-spacing: -2px;
 margin-bottom: 30px;
 text-align: center;
 font-family: 'Corben', cursive;
}

h2 {
 font-size: 1.7em;
 letter-spacing: -1px;
 margin-bottom: 30px;
 text-align: center;
 font-weight: normal;
 color: #777;
 font-family: 'Kaushan Script', cursive;
}

p {
 font-size: 1.1em;
 line-height: 1.7em;
}

/* ヘッダー */

#header {
 background-color: rgb(0, 253, 200);
}

#logo {
 float: left;
 margin-right: 10px;
 font-size: 1.7em;
 color: #fff;
 font-style: italic;
 font-family: 'Corben', cursive;
 letter-spacing: -1px;
 padding-top: 15px;
 font-weight: bold;
 &:hover {
   color: silver;
   text-decoration: none;
 }
}

li .header-list {
 color: #fff !important;
 font-weight: bold;
 &:hover {
   color: silver !important;
 }
}

#dropdown-title {
 background-color: navy;
}

li .dropdown-header {
 background-color: rgba(200, 200, 200, 0.5);
 font-weight: bold;
}

/* デバッグウインドウ */

.debug_dump {
 clear: both;
 float: left;
 width: 100%;
 margin-top: 45px;
 -moz-box-sizing:    border-box;
 -webkit-box-sizing: border-box;
 box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
 color: red;
 ul {
   color: red;
   margin: 0 0 30px 0;
 }
}

.field_with_errors {
//  @extend .has-error;
//  .form-control {
  //  color: $state-danger-text;
//  }
}

/* テーブルの背景 */

.table-schedule {
 background-color: rgba(250, 250, 250, 0.7);
}

.table-show {
 background-color: rgba(250, 250, 250, 0.7);
}