@import "bootstrap";
@import "categories";
@import "golfclubs";
@import "holes";
@import "areas";

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// トップ画面
.toppage-img img {
  width: 100%;    /* 横幅を割合で指定 */
  height: auto;  /* 高さは自動指定 */
}

// ログイン画面
 
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

/* 共通 */


/* ヘッダー */

#header {
 background-color: #224444;
}

.header-logo {
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
}

img {
  vertical-align: middle;
}

.navbar-brand-custom {
  font-family: Georgia !important;
  font-size: 26px;
  color: white;
}

// .navbar-brand-custom:link, a:visited, a:hover, a:active {
//   color: white;
//   text-decoration: none;
// }
/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* brand-background-color */
.bg-brand {
  background-color: #224444 !important;
}

/*------------------------------------
- COLOR success ここから
------------------------------------*/

$success_t1: #224444;
$success_t2: #112222;
$success_t3: #58abab;
$success_t4: #69b4b4;
$success_t5: #000000;
$success_t6: #0b1717;
$success_t7: #162c2c;
$success_t8: #000000;
$success_t9: #77bbbb;

$success_shadow: rgba(34, 68, 68, 0.5);
$success_text_color_dark_bright: #fff;


.alert-success {
  color: $success_t5;
  background-color: $success_t9;
  border-color: $success_t4;
}

.alert-success hr {
  border-top-color: $success_t3;
}

.alert-success .alert-link {
  color: $success_t8;
}

.badge-success {
  color: $success_text_color_dark_bright;
  background-color: $success_t1;
}

.badge-success[href]:hover, .badge-success[href]:focus {
  color: $success_text_color_dark_bright;
  background-color: $success_t2;
}

.bg-success {
  background-color: $success_t1 !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: $success_t2 !important;
}

.border-success {
  border-color: $success_t1 !important;
}

.btn-success {
  color: $success_text_color_dark_bright;
  background-color: $success_t1;
  border-color: $success_t1;
}

.btn-success:hover {
  color: $success_text_color_dark_bright;
  background-color: $success_t7;
  border-color: $success_t2;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem $success_shadow;
}

.btn-success.disabled, .btn-success:disabled {
  color: $success_text_color_dark_bright;
  background-color: $success_t1;
  border-color: $success_t1;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: $success_text_color_dark_bright;
  background-color: $success_t2;
  border-color: $success_t6;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $success_shadow;
}

.btn-outline-success {
  color: $success_t1;
  background-color: transparent;
  border-color: $success_t1;
}

.btn-outline-success:hover {
  color: $success_text_color_dark_bright;
  background-color: $success_t1;
  border-color: $success_t1;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem $success_shadow;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: $success_t1;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: $success_text_color_dark_bright;
  background-color: $success_t1;
  border-color: $success_t1;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $success_shadow;
}

.list-group-item-success {
  color: $success_t5;
  background-color: $success_t4;
}

.list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
  color: $success_t5;
  background-color: $success_t3;
}

.list-group-item-success.list-group-item-action.active {
  color: $success_text_color_dark_bright;
  background-color: $success_t5;
  border-color: $success_t5;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: $success_t4;
}

.table-hover .table-success:hover {
  background-color: $success_t3;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: $success_t3;
}

.text-success {
  color: $success_t1 !important;
}

a.text-success:hover, a.text-success:focus {
  color: $success_t2 !important;
}

/*------------------------------------
- COLOR success ここまで
------------------------------------*/