// Place all the styles related to the Areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-area-index {
  @extend .container-fluid;
  max-width: 768px;
  padding: 2rem;
}

.green-box {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: solid 1px #224444; 
}
