.container-course {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

/* パー入力ラジオボタン */

input[type="radio"] {
  display: none;
}

input[type="radio"] + label img {
  opacity:0.2;
}
input[type="radio"]:checked + label img {
  opacity:1;
}
