.container-golfclub {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.container-golfclub-index {
  @extend .container-fluid;
  max-width: 768px;
  padding: 2rem;
}

.course-table{
  vertical-align: middle !important;
  text-align: center;
}

.nested-fields-course {
  margin: 0 5px 10px 0;
  display: inline-block;
}

.link_to_add_association, .link_to_add_association:hover {
  text-decoration: none;
}

.link_to_remove_association, .link_to_remove_association:hover {
  font-size: x-large;
  text-decoration: none;
}

.golfclub-search-form {
  margin-bottom: 5px;
}
