// Place all the styles related to the strategy_infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand_t1: #224444;

// 攻略情報ページ
.strategy_cource_bar {
  // display: flex;
  margin-top: 18px;
  margin-bottom: -10px;
  // margin-left: 130px;
  margin-left: 80px;

  & .strategy_course_btns {
    margin-left: 13px;
  }
}

.strategy_course_btn {
  border-color: $brand_t1;
  width: 60px;
}

.c_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}

.strategy_hole_bar {
  // margin-left: 150px;
  margin-left: 100px;
}

.strategy_hole_btn {
  border-color: $brand_t1;
  width: 40px;
}

.h_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}

.location_btn {
  border-color: $brand_t1;
  width: 40px;
}

.l_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}

// .shot_bar {
//   margin-left: 0px;
// }


// .shot_btn {
//   border-color: $brand_t1;
//   width: 80px;
//   margin-top: 3px;
//   margin-right: 3px;
// }

.s_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}
// .strategy_hole_bar {}

#strategy_hole_bar__btns {
  margin-bottom: 3px;
  // .btn {
  //   // margin-left: 2px;
  // } 
}


.strategy_main {
  display: flex;

  &_center {
    display: flex;
    flex-flow: column;
  
    &_photo img {
      padding: 0.38em;
    }
  }
}

.strategy_main_status {
  color: white;
  background-color: #224444;
  height: 45px;
  max-width: 70px;
  min-width: 70px;
  font-size: 15px;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}

.strategy_main_center {
  // display: flex;
  // flex-flow: column;
  margin-right: -50px;
}

#strategy_main_map img {
  // padding: 0.78em 0.38em 0.1em 0.38em;
  max-width: 80%;
}

.strategy_main_center_comment {
  background: #fff;
  border: 1px #ccc solid;
  box-shadow: 0 2px 3px 0 #ddd;
  font-size: 100%;
  padding: 2px;
  margin-right: 150px;
}

// shot_bar
.shot_bar {
  // display: flex;
  margin-left: 0px;
}

.shot_btns {
  // display: flex;
  // flex-flow: column;
}
// -----------------------------
// 攻略情報新規作成、更新ページ
// .create_strategy_info {
//   display: flex;
// }

.shot_btn {
  border-color: $brand_t1;
  width: 80px;
  margin-top: 3px;
  margin-right: 3px;
}

.strategy_img {
  width:auto;
  height:auto;
  max-width:80%;
  max-height:80%;
}

// 全てのピンに
.pin {
  cursor: pointer;
}

#strategy_map {
  position: relative;
}
.map_pin {
  &_target {
    z-index: 20;
  }
  &_point {
    z-index: 15;
    left: 23px;
  }
  &_shoot {
    z-index: 10;
    left: 46px;
  }
}

#strategy_photo {
  position: relative;
}
.photo_pin {
  &_target {
    z-index: 20;
  }
  &_point {
    z-index: 15;
  }
}