// Place all the styles related to the strategy_infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand_t1: #224444;

// 攻略情報ページ
.strategy_golfclub_name {
  margin: 0;
}

.strategy_cource_bar {
  // display: flex;
  margin-top: 13px;
  margin-bottom: 10px;
  // margin-left: 130px;
  margin-left: 80px;

  & .strategy_course_btns {
    margin-left: 13px;
  }
}

.strategy_course_btn {
  border-color: $brand_t1;
  width: 60px;
  &:hover {
    background-color: $brand_t1;
    color: white;
  }
}

.c_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}

.strategy_hole_bar {
  // margin-left: 150px;
  // margin-left: 100px;
  margin-left: 90px;
  margin-right: 90px;
}

.strategy_hole_btn {
  border-color: $brand_t1;
  width: 40px;
  &:hover {
    background-color: $brand_t1;
    color: white;
  }
}

.h_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}

.location_btn {
  border-color: $brand_t1;
  width: 40px;
  &:hover {
    background-color: $brand_t1;
    color: white;
  }
}

.l_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}

.s_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}
// .strategy_hole_bar {}

#strategy_hole_bar__btns {
  margin-bottom: 3px;
  // .btn {
  //   // margin-left: 2px;
  // } 
}

.strategy_none {
  background-color: #ccc;
  max-width: 100%;
}

.map_none {
  background-color: #ccc;
  max-width: 100%;
}

.strategy_main {
  display: flex;

  &_center {
    display: flex;
    flex-flow: column;
  
    // &_photo img {
    //   // padding: 0.38em;
    // }
  }
}

.strategy_main_status {
  color: white;
  background-color: $brand_t1;
  height: 45px;
  max-width: 70px;
  min-width: 70px;
  font-size: 15px;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}

.strategy_main_center {
  // margin-right: -50px;
}

#show {
  margin-right: 20px;
  padding: 0.38em;
}

// #show_photo_area {
//   // max-width: 80%;
// }

#strategy_main_map {
  position: relative;
  max-width: 100%;
  margin-top: 15px;
}
// photo, pin
// #show_photo_area {
// }

// #map_area {

// }
.main_map {
  padding: 0.38em;
  &_pin {
    position: absolute;
    // top: 100%;
    // left: 100%;
  }
}

.show_pin {
  position: absolute;
  // top: 100%;
  // left: 100%;
}

.strategy_main_center_comment {
  background: #fff;
  border: 1px #ccc solid;
  box-shadow: 0 2px 3px 0 #ddd;
  font-size: 100%;
  padding: 2px;
  max-width: 700px;
}


// 
.strategy_footer {
  display: flex;
}

// shot_bar
.shot_bar {
  display: flex;
  flex-wrap: wrap;
  padding: 0.38em;
  margin: 0;
}
.shot_btns {
  display: flex;
  margin-right: 4px;
}

.shot_btn {
  border-color: $brand_t1;
  width: 80px;
  // margin-top: 3px;
  margin-right: 0;
  &:hover {
    background-color: $brand_t1;
    color: white;
  }
}

@media (max-width: 998px) {
  /* 横幅が998px以下の場合に適用するスタイル */
  .strategy_footer {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin: 0;
   }
}
@media (min-width: 999px) {
  /* 横幅が998px以上の場合に適用するスタイル */
  .strategy_footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
   }
}

.representative {
  display: flex;
 }

.shot_select, option{
 /* background: #224444;
 color: white; */
 color: #224444;
 margin: 0;
 padding: 2.8px 0.5px;
}

#poster {
  margin-left: 10px;
}

// -----------------------------
// 攻略情報新規作成、更新ページ
// .create_strategy_info {
//   display: flex;
// }

.golfclub_column {
  display: inline-block;
  color: $brand_t1;
  font-weight: bold;
  margin: 8px 0 7px 4px;
  &_top {
    padding: 2px 4px;
    border: solid 1px;
    border-color: $brand_t1;
  }
  // &_select {
  //   // appearance: none;
  //   // border-radius: 0;
  //   // border: none;
  //   // outline: none;
  // }
}

.strategy_img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:80%;
  // padding-right: 20%;
}

// 全てのピンに
.pin {
  cursor: pointer;
}

#strategy_map {
  position: relative;
  display: inline-block;
  margin-top: 55px;
}

.map_pin {
  &_target {
    z-index: 20;
  }
  &_point {
    z-index: 15;
    left: 23px;
  }
  &_shoot {
    z-index: 10;
    left: 46px;
  }
}

.pins_description {
  border: solid 1px;
  border-color: $brand_t1;
  border-radius: 0.5rem;
  max-width: 85%;
  margin-top: 5px;
}


#strategy_photo {
  position: relative;
  max-width: 700px;
}
.photo_pin {
  &_target {
    z-index: 20;
  }
  &_point {
    z-index: 15;
  }
}

// 
.strategy_update-destroy {
  display: flex;
  flex-wrap: wrap;
  &_btn_left {
    width: 78%;
  }
  &_btn_right {
    width: 22%;
  }
}

// 登録編集ページ遷移ボタン
#new_edit_btns {
  text-align: right;
}
.new_edit_link {
  color: black;
  text-decoration:none;

  &:hover {
    color: #224444;
    text-decoration:none;
  }
}

// 攻略情報ページ遷移へボタン
.to_index {
  text-align: right;
  &_link {
    color: black;
    text-decoration:none;

    &:hover {
      color: #224444;
      text-decoration:none;
    }
  }
}

// newの時だけ画像選択ボタン
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin-top: -23px;

    &:before {
      content: "";
      display: block;
      padding-top: 45%;
    }
  }
  
  .upload-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  }
  
  .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  }

  // ここまで