// Place all the styles related to the strategy_infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand_t1: #224444;

// 攻略情報ページ
.strategy_cource_bar {
  // display: flex;
  margin-top: 18px;

  & .strategy_course_btns {
    margin-left: 13px;
  }
}

.c_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}

.h_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}

.l_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}

.s_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}
// .strategy_hole_bar {}

#strategy_hole_bar__btns {
  margin-bottom: 3px;
  // .btn {
  //   // margin-left: 2px;
  // } 
}


.strategy_main {
  display: flex;

  &_center {
    display: flex;
    flex-flow: column;
  
    &_photo img {
      padding: 0.38em;
    }
  }
}

#strategy_main_map img {
  padding: 0.78em 0.38em 0.1em 0.38em;

}

// shot_bar
.shot_bar {
  // display: flex;
}

.shot_btns {
  // display: flex;
  // flex-flow: column;
}
// -----------------------------
// 攻略情報新規作成、更新ページ
// .create_strategy_info {
//   display: flex;
// }
.strategy_img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

// 全てのピンに
.pin {
  cursor: pointer;
}

#strategy_map {
  position: relative;
}
.map_pin {
  &_target {
    z-index: 20;
  }
  &_point {
    z-index: 15;
    left: 23px;
  }
  &_shoot {
    z-index: 10;
    left: 46px;
  }
}

#strategy_photo {
  position: relative;
}
.photo_pin {
  &_target {
    z-index: 20;
  }
  &_point {
    z-index: 15;
  }
}