// Place all the styles related to the strategy_infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.strategy_cource_bar {
  display: flex;
  margin-top: 18px;

  & .course_btns {
    margin-left: 13px;
  }
}


.strategy_hole_btns {
  background-color: aqua;
}

.strategy_main {
  display: flex;
}