// Place all the styles related to the strategy_infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand_t1: #224444;

// 攻略情報ページ
.strategy_cource_bar {
  display: flex;
  margin-top: 18px;

  & .strategy_course_btns {
    margin-left: 13px;
  }
}

.c_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}

.h_selected {
  color: white;
  background-color: $brand_t1;
  
  &:hover {
    color: white;
  }
}

.l_selected {
  color: white;
  background-color: $brand_t1;

  &:hover {
    color: white;
  }
}

// .strategy_hole_bar {}

#strategy_hole_bar__btns {
  margin-bottom: 3px;
  // .btn {
  //   // margin-left: 2px;
  // } 
}


.strategy_main {
  display: flex;
}

.strategy_main_center {
  display: flex;
  flex-flow: column;
}

// 攻略情報新規作成、更新ページ
.create_strategy_info {
  display: flex;
}
