.user-table-header a {
  color: #fff;
}

.user-search-flexbox {
  display:flex;
  flex-flow: column;
}

.user-search-premium {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0 12px;
}

.user-search-name {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0 12px;
}

.user-search-address {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0 12px;
}

.user-search-created {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px 5px;
}

.user-search-flexbox-item {
  margin-bottom: 5px;
}

.users-table {
  overflow: auto; /* 横スクロールバーを表示 */
  white-space: nowrap; /* セル内にあるテキストの折り返しを禁止 */
}

.container-user-index {
  @extend .container-fluid;
  max-width: 1300px;
  padding: 2rem;
}

// googlr-login
.google-login-img {
  height: 16px;
  width: 16px;
}
.google-login-btn {
  display: inline-block;
  margin-top: 0;
  border: 2px solid;
  border-color: #BAD3FF;
  width: 100%;
  &:hover {
    box-shadow: 0 0 3px;
  }
}