<footer>
  <div class="container-fluid">
    <div class="d-flex justify-content-center justify-content-md-end">
      <div>
        <div class="pt-5"><img src="https://qr-official.line.me/sid/M/201bjxfe.png" style="width:120px; height:120px"></div>
        <div class="mb-5 mb-md-0">LINE友達登録は<br>こちら</div>
      </div>
    
    </div>
  </div>
  <div class="copy-right pt-md-4">Copyright © 2021 ParPlaySimulation</div>
</footer>