<nav class="navbar navbar-expand-lg navbar-dark bg-brand">
  <%= link_to "Par Play Simulation", root_path, class: 'navbar-brand-custom' %>              
  <a class="navbar-brand-custom" href="#">
    <img src="/assets/pps.png" width="36" height="36" class="d-inline-block align-top" alt="">
    Par Play Simulation
  </a>


    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
